<h1>Stock Stream</h1>
<div id="chart"></div>

<div class="stock-labels row">
    <div class="stock-label col-sm-12 col-md-3" ng-repeat="symbol in symbols">
        {{ symbol }}<span class="remove-stock" ng-click="removeStock(symbol)">x</span>
    </div>
</div>

<form novalidate name="form" ng-submit="addStock(stock.symbol)" method="post">
    <div class="col-md-8">
        <input type="text" class="form-control symbol text-center" placeholder="Stock Symbol" ng-model="stock.symbol">
    </div>
    <div class="col-md-4">
        <input type="submit" class="btn search-btn btn-block" value="Add" />
    </div>
</form>